{% extends "reminders/base.html" %}
{% load static i18n remindertags %}
{% get_media_prefix as media_prefix %}

{% block title %} Adulting {% endblock %}
{% block section_class %}container{% endblock %}
{% block extra_head %} 
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"  crossorigin="anonymous"></script>
	<script src="{% static 'js/asynctasks.js' %}"></script>
	<script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
		<link rel="stylesheet" href="{% static 'css/task-style.css' %}">
		<script>
			$(document).ready(function(){
			init_done_buttons();
			$grid = $(".grid").masonry({
				itemSelector: '.grid-item',
				columnWidth: '.grid-sizer',
				percentPosition: true,
				stamp: '.stamp' });
			init_create_buttons("{% url 'reminders:create_ajax' %}");
			});
		</script>
		{{form|safe}}
{% endblock %}
{% block content %}
		<div class="grid">
		<div class="grid-sizer"></div>
		<div class="gutter-sizer"></div>
		<!-- begin row -->
{% for task in tasks %}
			<div class="grid-item">
			<div class="activity-group well task-{{task.colour}}" id="task_{{ task.pk }}">
	{% if not task.is_secret %}
				<h1 class="activity_title">
					<a href="{% url 'reminders:detail' pk=task.pk %}">{{task.label}}</a>
				</h1>
				<img src="{% get_media_prefix %}/{{task.icon.icon}}" alt="{{task.icon}}">
				<p class="time">
					{% if task.countdown %}					
					<time>{{ task.deadline|timeuntil }}</time> <span class="ancillary">{% trans 'until' noop %}</span> <time>{{ task.deadline }}</time> 
					{% else %}
						{% if task.last_performed|date|length > 0 %}
						<time>{{ task.last_performed|timesince }}</time> <span class="ancillary">{% trans 'since you last did it' noop %}</span>.
						{% else %}
						{% trans 'Not yet performed' noop %}.
						{% endif %}
					{% endif %} 
				</p>
				<p><a href="{% url 'reminders:perform' task_id=task.pk %}" class="btn btn-success perform_action">Done</a><a href="{% url 'reminders:delete' pk=task.pk %}" class="btn btn-danger">{% trans 'Delete' %}</a></p>
	{% else %}
	<!-- this is a stupid implementation, how the hell does anyone know which secret task it is? -->
	<h1 class="activity_class">{{ task.label|starout }}</h1>
	<a href="{% url 'reminders:detail' pk=task.pk %}">View detail.</a>
	{% endif %}
			</div>
			</div>
			<!-- end bootstrap spacing -->
{% endfor %}
			<div class="stamp">
				<div class="activity-group well task-create">
					<h1>{% trans 'Create reminder' %}</h1>
					<p style="font-size:400%;"><a href="{% url 'reminders:create' %}" class="create_task">+</a></p>
				</div>
			</div>
		<!-- end .row -->
		</div>
{% endblock %}
