{% extends "reminders/base.html" %}
{% load static i18n remindertags %}
{% get_media_prefix as media_prefix %}

{% block title %} Adulting {% endblock %}
{% block section_class %}container{% endblock %}
{% block extra_head %}
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
		<link rel="stylesheet" href="{% static 'css/task-style.css' %}">
		<script>
			//Probably best putting this in an external script. Thanks Django docs!
			function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie !== '') {
					var cookies = document.cookie.split(';');
					for (var i = 0; i < cookies.length; i++) {
						var cookie = jQuery.trim(cookies[i]);
						// Does this cookie string begin with the name we want?
						if (cookie.substring(0, name.length + 1) === (name + '=')) {
						    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						    break;
						}
					}
				}
				return cookieValue;
			}
			var csrftoken = getCookie('csrftoken');

			$(document).ready(function(){
				$("a.btn").click(function(e){
					e.preventDefault(); console.log(e.target.href);
					t = $.post(e.target.href,{the_task:e.target.href[-1], csrfmiddlewaretoken: csrftoken },function(response){console.log(response)});
					console.log(t.responseText);
					/* Fix this so that it doesn't do it to countdown ones... */
					$(this).closest("div.activity-group").find("time").first().text("0 {% trans 'seconds' noop %}");
					console.log(this);
					console.log($(this).parent());
					console.log($(this).parent().parent().children("time"));
					/*btn = e.target.id;
					$(btn.id).removeClass("btn-success");
					$(btn.id).addClass("btn-neutral");
					t = $.load($(btn.id).href);
					newClass = (t == "Hurray") ? "btn-success" : "btn-warning";
					$(btn.id).removeClass("btn-neutral");
					$(btn.id).addClass(newClass)*/
			});
			$(".grid").masonry({
				itemSelector: '.grid-item',
				columnWidth: '.grid-sizer',
				percentPosition: true,
				stamp: '.stamp' });
			});
		</script>
{% endblock %}
{% block content %}
		<div class="grid">
		<div class="grid-sizer"></div>
		<div class="gutter-sizer"></div>
		<!-- begin row -->
{% for task in tasks %}
			<div class="grid-item">
			<div class="activity-group well task-{{task.colour}}" id="task_{{ task.pk }}">
	{% if not task.is_secret %}
				<h1 class="activity_title">
					<a href="{% url 'reminders:detail' pk=task.pk %}">{{task.label}}</a>
				</h1>
				<img src="{% get_media_prefix %}/{{task.icon.icon}}" alt="{{task.icon}}">
				<p class="time">
					{% if task.countdown %}					
					<time>{{ task.deadline|timeuntil }}</time> <span class="ancillary">{% trans 'until' noop %}</span> <time>{{ task.deadline }}</time> 
					{% else %}
						{% if task.last_performed|date|length > 0 %}
						<time>{{ task.last_performed|timesince }}</time> <span class="ancillary">{% trans 'since you last did it' noop %}</span>.
						{% else %}
						{% trans 'Not yet performed' noop %}.
						{% endif %}
					{% endif %} 
				</p>
				<p><a href="{% url 'reminders:perform' task_id=task.pk %}" class="btn btn-success">Done</a></p>
	{% else %}
	<!-- this is a stupid implementation, how the hell does anyone know which secret task it is? -->
	<h1 class="activity_class">{{ task.label|starout }}</h1>
	<a href="{% url 'reminders:detail' pk=task.pk %}">View detail.</a>
	{% endif %}
			</div>
			</div>
			<!-- end bootstrap spacing -->
{% endfor %}
			<div class="stamp">
				<div class="activity-group well task-create">
					<h1>{% trans 'Create reminder' %}</h1>
					<p style="font-size:400%;"><a href="{% url 'reminders:create' %}">+</a></p>
				</div>
			</div>
		<!-- end .row -->
		</div>
{% endblock %}
