{% extends "reminders/base.html" %}
{% load static i18n %}
{% get_media_prefix as media_prefix %}
{% block extra_head %}
{{ form.media }}
{% endblock %}
{% block title %} Adulting: {{ task }} delete {% endblock %}
{% block content %}
		<div class="row" id="">
			<div class="activity-single col-xs-12 col-sm-12 col-md-9" id="1">
				<h1 class="activity_title">Delete task <span class="task-label">{{task.label}}</span>?</h1>
				<form action="" method="post">
					{% csrf_token %}
					<p>{% trans 'Are you sure?' noop %}</p>
					{{ form.as_p }}
					<input type="submit" value="{% trans 'Yes' noop %}"class="btn btn-danger"> <a class="btn btn-default" href="{% url 'reminders:index' %}">Cancel</a>
				</form>
			</div>
		</div>
{% endblock %}
